@model HrProject.BL.Model.CardsTypeVM
@{
    ViewBag.Title = "Create CardsType";

}
<style>
    th {
        text-align: center;
    }
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">انواع البطاقات</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">شئون الموظفين</a></li>
                        <li class="breadcrumb-item active">الاكواد العامة</li>
                        <li class="breadcrumb-item active">انواع البطاقات</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <h1>Create CardsType</h1>

    <form asp-controller="Cards" asp-action="Create" method="post" enctype="multipart/form-data" class="form-group">

        <label asp-for="NameArbic">Arabic Name</label>                             @*// asp-for="....." because from model*@
        <input type="text" asp-for="NameArbic" class="form-control" />
        <span class="text-danger" asp-validation-for="NameArbic"></span>
        <br /><br />

        <label asp-for="NameEnglish">Arabic English</label>                             @*// asp-for="....." because from model*@
        <input type="text" asp-for="NameEnglish" class="form-control" />
        <span class="text-danger" asp-validation-for="NameEnglish"></span>
        <br /><br />

        <label asp-for="Code">Code</label>                            @*// asp-for="....." because from model*@
        <input type="text" asp-for="Code" class="form-control" />
        <span class="text-danger" asp-validation-for="Code"></span>
        <br /><br />

        <div class="custom-control custom-checkbox">
            <input type="checkbox" asp-for="IsCreationDate" class="custom-control-input">           @*// asp-for="....." because from model*@
            <label class="custom-control-label" asp-for="IsCreationDate"> Has Creation Date</label>
        </div>
        <span class="text-danger" asp-validation-for="IsCreationDate"></span>
        <br /><br />


        <div class="custom-control custom-checkbox">
            <input type="checkbox" asp-for="IsCreationPlace" class="custom-control-input">           @*// asp-for="....." because from model*@
            <label class="custom-control-label" asp-for="IsCreationPlace"> Has Creation Place</label>
        </div>
        <span class="text-danger" asp-validation-for="IsCreationDate"></span>
        <br /><br />



        <div class="custom-control custom-checkbox">
            <input type="checkbox" asp-for="IsExpiredDate" class="custom-control-input">           @*// asp-for="....." because from model*@
            <label class="custom-control-label" asp-for="IsExpiredDate"> Has Expire Date</label>
        </div>
        <span class="text-danger" asp-validation-for="IsExpiredDate"></span>
        <br /><br />



        <div class="custom-control custom-checkbox">
            <input type="checkbox" asp-for="IsHasAttatchment" class="custom-control-input">           @*// asp-for="....." because from model*@
            <label class="custom-control-label" asp-for="IsHasAttatchment"> Has Attachment</label>
        </div>
        <span class="text-danger" asp-validation-for="IsHasAttatchment"></span>
        <br /><br />



        <div class="custom-control custom-checkbox">
            <input type="checkbox" asp-for="IsRenewableDate" class="custom-control-input">           @*// asp-for="....." because from model*@
            <label class="custom-control-label" asp-for="IsRenewableDate"> Has renewable Date</label>
        </div>
        <span class="text-danger" asp-validation-for="IsRenewableDate"></span>
        <br /><br />



        <div class="custom-control custom-checkbox">
            <input type="checkbox" asp-for="IsRenwableValue" class="custom-control-input">           @*// asp-for="....." because from model*@
            <label class="custom-control-label" asp-for="IsRenwableValue"> Has renewable value</label>
        </div>
        <span class="text-danger" asp-validation-for="IsRenwableValue"></span>
        <br /><br />



        <div class="custom-control custom-checkbox">
            <input type="checkbox" asp-for="IsRepeated" class="custom-control-input">           @*// asp-for="....." because from model*@
            <label class="custom-control-label" asp-for="IsRepeated"> repeated</label>
        </div>
        <span class="text-danger" asp-validation-for="IsRepeated"></span>
        <br /><br />


        <label asp-for="Notes">Notes</label>                            @*// asp-for="....." because from model*@
        <textarea asp-for="Notes" class="form-control" rows="4"></textarea>
        <span class="text-danger" asp-validation-for="Notes"></span>
        <br /><br />



        <center>
            <input type="submit" value="Save" class="btn btn-primary" />
        </center>

    </form>
    </div>

    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


